@model WebApplication2.Models.Photo

@{
    ViewBag.Title = "ConfirmDeleteView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmDeleteView</h2>
<br />
@Model.Name
<br />
@Model.ThumbnailPath

