@model IEnumerable<WebApplication2.Models.Photo>

@{
    ViewBag.Title = "PhotosView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Photos</h2>

<br /><br /><br />


<div>
    @foreach (var item in Model)
    {
        <div style="width:250px; border: dashed 1px; float:left">
            <img src="@Url.Content(@item.ThumbnailPath)" class="img-circle" width="242" height="200" />
            <br />
            <h3>@item.Name</h3>
            Created on @item.Month/@item.Year
            <br />
            <button class="btn-info">View</button> <button class="btn-danger">Delete</button>
        </div>

    } 
</div>
<br /><br />