@model WebApplication2.Models.Photo

@{
    ViewBag.Title = "ViewPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewPhoto</h2>

@Model.Month
<br />
@Model.Year
<br />
@Model.Path
<br />
@Model.Name
<br />


