@model IEnumerable<WebApplication2.Models.Log>

@{
    ViewBag.Title = "LogsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <h1 class="text-primary" style="font-family:'Segoe UI'; font-weight:bold;">Logs</h1>
    <br />
    <div style="padding-left:20px">
        <textarea style="height:28px; width:300px"></textarea><button class="btn-default">Filter</button>
    </div>
</div>
<br />

<table>
    <tr>
        <th>Log Type</th>
        <th>Content</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.Content</td>
        </tr>
    }
</table>

<script>
    $("th").css("padding-left", "25px")
    $("td").css("padding-left", "25px")
</script>

